@charset "utf-8";
.main {
  background-color: #76E45D;
  height: 350px;
  width: 320px;
  border: solid;
  border-radius: 10px;
  border-color: #0FFF6C;
}
.c {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 3px;
  border-color: #1AC65D;
  background-color: #0FFF6C;
}
.c2 {
  width: 60px;
  height: 60px;
  float: left
}
.c3 {
  width: 50px;
  height: 110px;
  margin: 5px;
  margin-left: 9px;
  border-radius: 3px;
  border-color: #1AC65D;
  background-color: #0FFF6C;
}
.c4 {
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-left: 13px;
  border-radius: 3px;
  border-color: #1AC65D;
  background-color: #0FFF6C;
}
.c5 {
  width: 50px;
  height: 20px;
  margin: 5px;
  border-radius: 3px;
  border-color: #1AC65D;
  background-color: #0FFF6C;
}
#left {
  float: left;
  width: 316px;
}
#left2 {
  float: left;
  width: 188px;
}
#right {
  float: left;
  width: 150px;
}
#wyswietlacz {
  font-family: "Conaolas", monospace;
  width: 260px;
  line-height: 20px;
  padding: 20px;
  margin: 5px;
  text-align: right;
  font-size: 30px;
  background: #52B9D8;
  border: 3px solid;
}
#add {
  height: 110px;
}